* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.gallery {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .gallery {
    flex-wrap: nowrap;
  }
}

.gallery__item {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    flex-basis: calc((100% / 3) - 10px);
  }
  .gallery__item:not(:last-child) {
    margin-right: 20px;
  }
}
